<!DOCTYPE html>
<html lang="en-us">
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  background-color: #2196F3;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
</style>
<head>
    <title>{{ title }}</title>
</head>

<body>

    <div id = "search-box">
        <form method="post" action = "/">
        <input  size = 100 placeholder = "enter serach here..."  name = "search-box-form" >
        </form>
    </div>
    <br>
    <div id = "results" >
        <div class="grid-container">
            {% for product in products %}
                <div class="grid-item">
                    <a href = "{{ product.link }}"">
                        
                        <img src="{{ product.currentImage }}" alt = " product.currentImage " height = 200 >
                        <h5 style = "color:rgb(17, 17, 17);">£{{ product.price }}</h6>
                        <h6 style="color:rgb(153, 153, 153);" >{{ product.name }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


    
</body>

</html>
